:host {
    display: flex;
    div {
        font-size: 1.5em;
        font-weight: bold;
        margin: auto;
        text-align: center;
        p {
            font-weight: 0;
            color: #f6a8bd;

        }
    }
}
