<div class="main">
    <app-header></app-header>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    <footer>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. sed diam nonummy nibh euismod tincidunt ut laoreet
            dolore
            magna aliquam erat volupat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
            lobortis
            nisl ut aliquip ex ea commodo consequat. Duis autem vel enum iriure dolor in 2021.
        </p>
    </footer>
    
</div>
