.container-minion {
    position: relative;
}
svg {
    width: 100%;
}

.popover-button {
    cursor: pointer;
}

/* Base styling*/
body {
    background-color: lightgrey;
    max-width: 768px;
    margin: 0 auto;
    padding: 1em 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Popover styling */

a {
    text-decoration: none;
}

.popover-content {
    position: absolute;
    background-color: #dfdfdf;
    width: 100px;
    padding: 10px;
    top: 32%;
    right: calc(12% - calc(5% 100vw));
    font-size: 0.6em;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
// .popover-content:before {
//     position: absolute;
//     z-index: -1;
//     content: "";
//     right: calc(50% - 10px);
//     top: -8px;
//     border-style: solid;
//     border-width: 0 10px 10px 10px;
//     border-color: transparent transparent #dfdfdf transparent;
//     transition-duration: 0.3s;
//     transition-property: transform;
// }
