<div class="basic-form">
    <label class="title">Create your account</label>

    <form [formGroup]="formGroup" (submit)="onSignin()">
        <div class="input-group">
            <label class="input">Name</label>
            <input type="text" formControlName="name" />
        </div>
        <ng-container
            *ngIf="formGroup.get('name').invalid && (formGroup.get('name').dirty || formGroup.get('name').touched)">
            <span *ngIf="formGroup.get('name').errors.required">
                Required
            </span>
        </ng-container>
        <div class="input-group">
            <label class="input">Email</label>
            <input type="text" formControlName="email" />
        </div>
        <ng-container
            *ngIf="formGroup.get('email').invalid && (formGroup.get('email').dirty || formGroup.get('email').touched)">
            <span *ngIf="formGroup.get('email').errors.required">
                Required
            </span>
            <span *ngIf="formGroup.get('email').errors.error">
                {{formGroup.get('email').errors.error}}
            </span>
            <span *ngIf="formGroup.get('email').errors.pattern">
                Email is not valid
            </span>
        </ng-container>
        <div class="button-group">
            <button routerLink="/signin">sign in</button>
            <button type="submit" [disabled]="formGroup.invalid">create account</button>
        </div>
    </form>
</div>